<div class="container col-lg-12">
<h2>Calendars</h2>
	<div class="row col-lg-6 form-panel">
		<button type="button"><i class="glyphicon glyphicon-plus"></i> New Calendar</button>
		<table class="table table-hover table-striped" id="calendars" cellspacing="0">
	        <thead>
	            <tr>
	                <th>Check All</th>		            	
	                <th>Name</th>
	                <th>Project</th>
	                <th>Status</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	            	<td><input type="checkbox"></td>
	                <td>Project 1</td>
	                <td>approver</td>
	                <td>Enabled</td>
	            </tr>
	            <tr>
	            	<td><input type="checkbox"></td>
	                <td>Project 2</td>
	                <td>approver</td>
	                <td>Enabled</td>		                		                
	            </tr>
	            <tr>
	            	<td><input type="checkbox"></td>
	                <td>Project 3</td>
	                <td>approver</td>
	                <td>Enabled</td>
	            </tr>		            		            
         	</tbody>
   		</table>
		<div class="row form-inline button-panel1">
			<button type="button"><i class="glyphicon glyphicon-ok"></i> Enable</button>
			<button type="button"><i class="glyphicon glyphicon-ban-circle"></i> Disable</button>
			<button type="button"><i class="glyphicon glyphicon-trash"></i> Remove</button>
		</div>	
	</div>
	
	<div class="row col-lg-6 form-panel">
		<div class="row form-inline">
			<label>Name: </label>
			<input type="text" name="name" required>
		</div>
		<div class="row form-inline">
			<label>Date: </label>
			<input type="date" name="date" required>
			<i class="glyphicon glyphicon-calendar"></i>
		</div>
		<div class="row form-inline button-panel1">
			<button type="submit" class="savebtn"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
			<button type="button" class="cancelbtn"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
		</div>
		<div class="row">
			<table class="table table-hover table-striped" id="calendar" cellspacing="0">
		        <thead>
		            <tr>
		                <th>Holiday</th>
		                <th>Date</th>
		                <th>Remove</th>
		            </tr>
		        </thead>
		       
		       <!-- <tfoot>
		            <tr>
		                <th>Holiday</th>
		                <th>Date</th>
		                <th>Remove</th>
		            </tr>
		        </tfoot> -->

		        <tbody>
		            <tr>
		                <td>New Year's</td>
		                <td>1/1</td>
		                <td><button class="removebtn">-</button></td>
		            </tr>
		            <tr>
		                <td>Martin Luther King's</td>
		                <td>1/1</td>
		                <td><button class="removebtn">-</button></td>
		            </tr>
		            <tr>
		                <td>St. Patrick's Day</td>
		                <td>1/1</td>
		                <td><button class="removebtn">-</button></td>
		            </tr>
		            <tr>
		                <td>Halloween</td>
		                <td>1/1</td>
		                <td><button class="removebtn">-</button></td>
		            </tr>		            		            
	         	</tbody>
       		</table>
		</div>
	</div>
</div>


